*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/RobotoMono-Bold.ttf);
}

.contenedor-clima{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    align-items: center;
    background-color: rgba(52, 182, 252, 0.309);
    height: 1000px;
}

.contenedor-input{
    margin: 25px;
    border-radius: 5px;
}

.contenedor-clima button:hover{
    background-color: rgb(77, 133, 243);
    box-shadow: 0 1px 10px rgb(50, 116, 247);
    transition: all 0.2s ease;
}
.contenedor-info{
    font-family: Roboto;
    font-weight: bold;
    margin: 10px;
}